asgiref==3.11.1
ast_serialize==0.3.0
asttokens==3.0.1
attrs==26.1.0
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
decorator==5.2.1
defusedxml==0.7.1
Django==6.0.5
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
django-jsonform==2.23.2
djangorestframework==3.17.1
drf-spectacular==0.29.0
executing==2.2.1
flake8==7.3.0
gunicorn==26.0.0
httpie==3.2.4
idna==3.15
inflection==0.5.1
iniconfig==2.3.0
ipython==9.13.0
ipython_pygments_lexers==1.1.1
isort==8.0.1
jedi==0.20.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
librt==0.11.0
markdown-it-py==4.2.0
matplotlib-inline==0.2.2
mccabe==0.7.0
mdurl==0.1.2
multidict==6.7.1
mypy==2.1.0
mypy_extensions==1.1.0
packaging==26.2
parso==0.8.7
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.12
pure_eval==0.2.3
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
PySocks==1.7.1
pytest==9.0.3
pytest-django==4.12.0
python-decouple==3.8
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.0
requests-toolbelt==1.0.0
rich==15.0.0
rpds-py==0.30.0
setuptools==82.0.1
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.0
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
wcwidth==0.7.0
wheel==0.47.0
whitenoise==6.12.0
