Django==6.0.5
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==25.2
drf-spectacular==0.29.0
django-jsonform==2.23.2
whitenoise==6.12.0
python-decouple==3.8
psycopg2-binary==2.9.12
sqlparse==0.5.5
dj-database-url==0.3.0
pillow==12.2.0
tzdata==2026.2
openpyxl==3.1.5
reportlab==4.5.1
xhtml2pdf==0.2.17
arabic-reshaper==3.0.1
python-bidi==0.6.11
